In [1]:
# add pandas
import pandas as pd

# import data
file_schools = "/Volumes/External WD/GWU Data Science/Classwork/GWU_School_District_Analysis/Resources/schools_complete.csv"
file_students = "/Volumes/External WD/GWU Data Science/Classwork/GWU_School_District_Analysis/Resources/students_complete.csv"

schools_df = pd.read_csv(file_schools)
students_df = pd.read_csv(file_students)

In [2]:
# view last 5 rows
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
# view first 5 rows
schools_df.tail()

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# determine missing data
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [5]:
# determine missing data
students_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [6]:
# determine missing data
students_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [8]:
schools_df.budget.dtype

dtype('int64')

In [9]:
students_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [10]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [11]:
# Iterate through the "prefixes_suffixes" list and replace them with "" when it appears in the student's name.
for word in prefixes_suffixes:
    students_df["student_name"] = students_df["student_name"].str.replace(word,'')
# In the first part of loop, we assign each student name in the student_name column 
# with the same student name after we replace the prefix or suffix with an empty string.
# To replace the prefix or suffix with an empty string, we convert the name of the 
# student to a string with student_data_df["student_name"].str. For every word in the 
# prefixes_suffixes list, we replace it, if the name has one, with an empty string using replace(word,"").

/var/folders/pd/b40qs6qn5mzbx_46ghspzwyh0000gn/T/ipykernel_3606/3490859875.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  students_df["student_name"] = students_df["student_name"].str.replace(word,'')